.component-body-container {
    padding: 20px;
}

.custom-btn {
    padding: 10px;
    border: none;
    margin-right: 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    width: 80px;
    outline: none;
    margin-top: 2%;
}

.add-btn {
    border-radius: 5%;
    background:  #7ab97a;
    color: #fff;
}

.flex-container{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #7d7a7a;
    text-transform: uppercase;
    margin-top: 2%;
}

.item-heading {
   width: 20%;
}

.element{
    color: black;
}

.btn-delete-contact{
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    background: #fa9c9c;
    color: #000;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 5%;
}

